*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    padding: 0;
    margin: 0;
    
}
h1{
    color: black;
    font-size: xx-large;
}
body{
    position: relative;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: white;
    min-height: 100vh;
    width: 100vw;
    
}

.btn-container {
    margin-left: 50px;
    left: 0;
    top: 50%;
    position: fixed;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.btn-container button,#color-picker,#brush-size,#btn-send {
    cursor: pointer;
    background: white;
    outline : none;
    border: 1px solid black;
    height: 40px;
    width: 80px;
}


button:hover {
    font-weight: bold;
}

#btn-send {
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
    border : 2px solid black;
}

.border-drawing {
    white-space: nowrap;
    border: 2px solid red;
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin: auto;
    width: 1000px;
    margin-bottom: 50px;
}
.results-players {
    display: none;
}
/* .results-players p {
    display: inline-block;
    vertical-align: middle; 

} */

#text-input {
    margin-top: 10px;
    width: 250px;
    top: 0;
    right: 0;
}

.dynamic-image {
    width: 700px; /* Exemple de style */
    height: 500px; /* Exemple de style */
    margin: 20px; /* Exemple de style */
    border: 1px solid #ccc; /* Exemple de style */
    /* Autres styles */
}

.question-container p{
    color: black;
    font-size:x-large;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.question-container {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 100px;
    margin: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.btn-container2 {
    text-align: center;
    margin-top: 20px;
}

.btn-next {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}
.btn-next:hover {
    background-color: #0056b3;
}


/* .box{
    border: 6px solid green;
    transition: 0.25s ease;
    background: black;
    padding: 100px;
}
p {
    visibility: hidden;
    width: 240px;
    margin: 10px auto 0;

}
.responseBox{
    border: 6px solid red;
    border-radius: 45px;
    transition: 0,25s ease;
    background: black;
    padding: 100px;
    
}

#todo-table-body {
    background-color: RED;
    border: 1px solid black;
    padding: 10px;
}

#todo-table-body td {
    border: 1px solid black;
    padding: 10px;
}

